/*Web*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  
  /* transition: all .5s; */
}
body{}

#navmenu{
  position: relative;
  left: 90%;
}
.container-nav{
  font-size: 150%;
  position: relative;
  
}
.messbill{
  margin: 1px;
}
.card-header{
  background-color: #677481;
}
nav{
  z-index: 1;
}
/*Table#1*/
#table1{
  border-collapse: collapse;
  border-radius: 6px;
  background: #212529;
  margin: auto;  
  font-size: 24px;
}

td, th{
  border: 2px solid black;
  border-radius: 6px;
  padding: .2rem; 
  text-align: center;
}

  /*TRs#1*/
#tr1{background: #c9d3dc; color: #000000;}
/* #tr1:hover{background: #0a0d0f; color: #e9edf1;} */

#tr2{background: #becad4; color: #000000;}
/* #tr2:hover{background: #141a1f; color: #dfe4ea;} */

#tr3{background: #b3c1cd; color: #000000;}
/* #tr3:hover{background: #1e272e; color: #d4dbe3;} */

#tr4{background: #a9b8c6; color: #000000;}
/* #tr4:hover{background: #28333e; color: #c9d3dc;} */

#tr5{background: #9eafbf; color: #000000;}
/* #tr5:hover{background: #32404d; color: #becad4;} */

#tr6{background: #93a6b8; color: #000000;}
/* #tr6:hover{background: #3c4d5d; color: #b3c1cd;} */

#tr7{background: #8495a6; color: #000000;}
/* #tr7:hover{background: #3c4d5d; color: #a9b8c6;} */

#tr8{background: #768593; color: #000000;}
/* #tr8:hover{background: #3c4d5d; color: #9eafbf;} */

#tr9{background: #677481; color: #000000;}
/* #tr9:hover{background: #3c4d5d; color: #93a6b8;} */


.wrapper{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  top: 17%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid rgb(255, 254, 254);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}

/* HEADING */
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #e4e4e4;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}



.seven h1 {
  text-align: center;
      font-size:30px; font-weight:300; color:rgb(255, 255, 255); letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #c50000;
      border-top: 1px solid #c50000;
      height: 5px;
    background-color:#f8f8f8;
  }


/* Search */

.search-student{
  /* border: 2px solid red; */
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  flex-direction: column;
}

.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ded9d9;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
#search-submit {
  position: relative;
  left: -5000px;
}
.search-icon {
  position: relative;
  left: -30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


/* Card detail */

.card-container {
  padding: 15px;
}
.clearfloat {
  content: '';
  display: block;
  clear: both;
}
.contact-card {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.contact-card li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(237, 220, 220, 0.2);
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(219, 200, 200, 0.5);
  font-size: 0.9em;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.contact-card li:after,
.contact-card li:before {
  content: '';
  display: block;
  clear: both;
}
.contact-card li img {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 150px;
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(241, 227, 227, 0.5);
  transition: all 0.5s ease-in-out;
}
.contact-card li .details {
  float: left;
  text-align: left;
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px rgba(255, 243, 243, 0);
  min-width: 250px;
}
.contact-card li .details > span,
.contact-card li .details > a {
  display: block;
  padding: 0 15px 0 35px;
  margin-bottom: 15px;
  text-decoration: none;
  position: relative;
  color: white;
}
.contact-card li .details > span:before,
.contact-card li .details > a:before {
  display: inline-block;
  font: normal normal normal 13px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 15px;
  width: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.contact-card li .details a {
  color: #f9fbf8;
  transition: color 0.5s ease-in-out;
}
.contact-card li .details a:hover,
.contact-card li .details a:focus {
  color: #ffffff;
  transition: color 0.5s ease-in-out;
}
.contact-card li .details .name {
  font-weight: 600;
}
.contact-card li .details .name:before {
  content: "\f2c0";
}
.contact-card li .details .title:before {
  content: "\f183";
}
.contact-card li .details .phone:before {
  content: "\f1ad";
}
.contact-card li .details .email:before {
  content: "\f003";
}
.contact-card li:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
  transform: scale(1.03);
}
.contact-card li:hover img {
  box-shadow: 0 0 10px rgba(235, 232, 232, 0.6);
  transition: all 0.4s ease-in-out;
}
.contact-card li:hover .details {
  transition: all 0.5s ease-in-out;
  text-shadow: 1px 1px #ffffff;
}
@media (max-width: 550px) {
  .contact-card li {
    display: block;
    width: auto;
    max-width: 200px;
    margin: 30px auto;
  }
  .contact-card li img,
  .contact-card li .details {
    float: none;
  }
  .contact-card li img {
    margin: 0 auto;
  }
  .contact-card li .details {
    margin-top: 20px;
    text-align: center;
    min-width: 0;
  }
  .contact-card li .details span,
  .contact-card li .details a {
    padding: 0;
    white-space: break-all;
    word-wrap: break-word;
  }
  .contact-card li .details span:before,
  .contact-card li .details a:before {
    display: none;
  }
}
